{
  "PublisherId": "CN=555D21B8-0A4C-477E-8B9B-BEE2FEE87CE2",
  "PublisherDisplayName": "Liam Hall",
  "PackageIdentityName": "61449LiamHall.Tasman",
  "DisplayName": "Tasman",
  "AppId": "9NQ670RRQXFB",
  "ProductFamilyName": "61449LiamHall.Tasman_9e6jk4mprjbvw",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-0000642cf347",
  "TitleId": 1680667463,
  "Sandbox": "WWMGHN.58",
  "XboxLiveCreatorsTitle": true
}